#brxe-ajhxar{
    margin-top: 0px;
    padding-top: 0px;
}

#brxe-ajhxar h3{
    font-size: 24px;
    font-weight: 600;
    padding-right: 16px;
    
}

#brxe-omxkfg,
#brxe-vgbltu,
#brxe-cqqzrw{
    display: block;
}

.copyright{
    font-size: 14px;
    font-weight: 400;
    padding-right: 16px;
    padding-top: 16px;
    margin-bottom: 16px;
}