#brxe-zechoz {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}

#brxe-bgbdnv {
  display: block;
  flex: 1;
  text-align: left;
}

#brxe-bgbdnv h1 {
  font-size: 48px;
}

#brxe-hmsdrh {
  display: flex;
  justify-content: center;
  max-width: 80%;
}

#brxe-ddsjs {
  flex: 1;
}

#brxe-qkfbcb {
  justify-content: center;
}

#brxe-qkfbcb a {
  text-decoration: none;
}

#brxe-vdnoer {
  width: 100%;
  z-index: -1;
}

.bricks-button:hover {
  background: linear-gradient(
    90deg,
    rgba(206, 18, 215, 1) 0%,
    rgba(117, 32, 181, 1) 0%,
    rgba(25, 152, 204, 1) 100%
  );
}
.rad-color-2 {
  background-color: var(--bricks-color-otvvmd);
  background: linear-gradient(81.02deg, #B14BF4 -39.48%, #4D91FF 130.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.rad-color-1 {
  background-color: var(--bricks-color-otvvmd);
  background-image: linear-gradient(81.02deg, var(--bricks-color-bfjcgp) -23.47%, var(--bricks-color-rmttnh) 45.52%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
img {
  height: auto;
  max-width: 100%;
  outline: none;
  vertical-align: middle;
 
}
.rad-color-full {
  background-color: var(--bricks-color-otvvmd);
  background-image: linear-gradient(81.02deg, var(--bricks-color-bfjcgp) -23.47%, var(--bricks-color-rmttnh) 45.52%, var(--bricks-color-fpbfbh) 114.8%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}